.container{
    margin: 70px  auto;
    width: 30%;
    height: 75vh;
    background-color: rgb(247, 250, 252);
    font-size: 14pt;
    border: 2px solid black;
}
#title{
    text-align: center;
}
.bold{
    font-weight: bold;
}
.infor{
    padding-left: 5px;
}
#infor-table{
    width: 90%;
    border-collapse: collapse;
    height: 30%;
}
.left40{
    padding-left: 40px;
}
#table-container{
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    height: 50%;
}
#clonedTable{
    width: 100%;
    margin-left: 10%;
}