.container{
    width: 40%;
    height: 90vh;
    border: 1px solid black;
    margin: 30px auto;
    font-size: 15pt;
}
h3{
    text-align: center;
}
.my-table{
    width: 90%;
    border-collapse: collapse;
}
.my-table  tr{
    height: 43px;
}
#bill{
    margin-top: 10px;
}
#bill  tr  td{
    text-align: center;
    width: 25%;
}